.table {
    display: grid;
    gap: .3rem;
}

.table-content {
    background-color: var(--table-background);
    border-radius: 16px;
    display: grid;
    transition: background-color ease-in 200ms;
}

.table-content:hover {
    background-color: var(--table-hover);
}

.table-content p {
    font-size: 1rem;
    margin: .2rem;
    padding: .3rem 0;
    font-weight: normal;
}